*{
    margin: auto 0px;
}

.expense-item{
    background-color: rgb(88, 88, 88);
    border-radius: 5px;
    color: #fff;
    box-shadow: 0px 0px 10px 5px rgb(112, 111, 111);
    margin-bottom: 25px;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.expense-item-date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(66, 66, 66);
    width: 2rem;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 10px 25px;
    margin: 10px;
    box-shadow: 0px 0px 10px 2px rgb(170, 170, 170);
    font-size: 13px;
}

.expense-item-Insurance{
    margin: 20px;
    font-size: 25px;
    font-weight: 700;
}
.expense-item-price{
    padding: 15px 20px;
    margin-left: auto;
    margin-right: 20px;
    background-color: rgb(75, 6, 75);
    border: 2px solid #fff;
    border-radius: 15px;
}